@charset "utf-8";

#content {
  visibility: hidden;
}

#content {
  height: 207px;
}
#content .title {
  position: relative;
  width: 206px;
  height: 22px;
}
#content ul li {
  text-align: center;
}
